<a href="https://colab.research.google.com/github/Kayo-png/Colab-projects/blob/senai_lessons/8_Aula_9_Fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Funções

###Funções sem parâmetros

In [ ]:
def bem_vindo(): # Eu chamo funções sem parâmetros de "scripts"
  print("Bem-vindo ao curso de Programação em Python para Data Science!")

In [ ]:
# Chamando a função
bem_vindo()

Bem-vindo ao curso de Programação em Python para Data Science!

### Funções com parâmetros

In [ ]:
def saudacao(nome):
  print(f"Olá, {nome}!")

In [ ]:
saudacao("João")

Olá, João!

In [ ]:
def cumprimenta_usuario(nome):
  print(f"Olá, {nome}! Como você está hoje?")

In [ ]:
# Chamando a função com diferentes argumentos
cumprimenta_usuario("Pedro")
cumprimenta_usuario("Maria")

Olá, Pedro! Como você está hoje?
Olá, Maria! Como você está hoje?

###Função com Parâmetros Padrão

In [ ]:
def saudacao(nome, mensagem="Olá"):
  print(f"{mensagem}, {nome}!")

In [ ]:
saudacao("João")

Olá, João!

In [ ]:
saudacao("Ana", "Bom dia")

Bom dia, Ana!

###Funções com retorno

In [ ]:
def soma(a, b):
  a + b

In [ ]:
resultado = soma(3, 4)
resultado

In [ ]:
def soma(a, b):
  return a + b

In [ ]:
resultado = soma(3, 4)
print(resultado)

7

In [ ]:
def multiplicar(a, b):
    return a * b

In [ ]:
resultado = multiplicar(6, 7)
resultado

42

In [ ]:
resultado = multiplicar(6, 7) * 2
resultado

84

### Função Lambda

In [ ]:
def dobro(x):
    return x * 2

dobro(3)

6

In [ ]:
dobro = lambda x: x * 2
dobro(5)

uau = lambda x:

10

In [ ]:
soma = lambda a, b: a + b
soma(3, 7)

10

In [ ]:
import random as rd
import string

add = 2
lista_final = []
for i in range(10):
  lista_temp = []
  lista_temp.append(rd.randrange(100))
  lista_temp.append(abs(hash(rd.choice(string.ascii_letters))))
  lista_final.append(lista_temp)
  add = add + 1

print(sorted(lista_final, key = lambda x: x[0]))

[[7, 5886362902071298670], [18, 3504082032079787607], [30, 2089801755336584662], [37, 7657394041794113665], [54, 6820312638439287893], [59, 2206552411096383165], [66, 5356145302263370019], [67, 834620013861154198], [75, 7600377535082921523], [76, 7949113571767462910]]

###Exemplos

Exemplo 1

In [ ]:
def calcular_area_retangulo(largura, altura):
  return largura * altura

In [ ]:
area = calcular_area_retangulo(5, 10)
area * 2

100

Exemplo 2

In [ ]:
def taboada(numero):

  # Função que imprime a taboada para o número fornecido.

  print(f"Taboada do {numero}:")
  for i in range(1, 11):  # De 1 a 10
    resultado = numero * i
    print(f"{numero} x {i} = {resultado}")

In [ ]:
# Solicitando ao usuário um número
numero_usuario = int(input("Digite um número para ver sua tabela de multiplicação: "))

# Chamando a função
taboada(numero_usuario)

Digite um número para ver sua tabela de multiplicação: 5
Taboada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Exemplo 3 -  Função filter

In [ ]:
numeros = [1, 2, 3, 4, 5, 6]
pares = list(filter(lambda x: x % 2 == 0, numeros))
pares

[2, 4, 6]

## Exercícios

Exercício 1

Você está criando um pequeno programa para calcular o preço final de um produto, incluindo um imposto de 8%. Crie uma função que receba o preço base do produto e retorne o preço final com o imposto.

![image.png]()

In [ ]:
def calc_imposto(imposto):
  return imposto * 0.08 + imposto

entrada = int(input("Digite o preço base do produto: R$"))
print(f"O preço final do produto, com imposto é R${calc_imposto(entrada):.2f}")

Digite o preço base do produto: R$20
O preço final do produto, com imposto é R$21.60

Exercício 2

Você deseja criar um programa que converta uma temperatura fornecida em graus Celsius para Fahrenheit. Crie uma função que receba a temperatura em Celsius e retorne a temperatura convertida para Fahrenheit.

![image.png]()

In [ ]:
def celc_faren(celcius):
  return celcius * 1.8 + 32

entrada_temp = float(input("Digite a temperatura em graus Celcius: "))
print(f"A temperatura em Ferenheint é {celc_faren(entrada_temp):.2f} Fº")

Digite a temperatura em graus Celcius: 36.5
A temperatura em Ferenheint é 97.70

Exercício 3

Você está desenvolvendo um sistema para uma loja que oferece um desconto progressivo com base no valor total das compras. A loja aplica descontos conforme a tabela abaixo:

- Para compras de até R$100,00: 5% de desconto.

- Para compras entre 100,01 e R$500,00: 10% de desconto.

- Para compras acima de R$500,00: 15% de desconto.

Crie uma função que receba o valor total da compra e retorne o valor final após aplicar o desconto correspondente. Além disso, a função deve retornar o valor do desconto aplicado.

![image.png]()

In [ ]:
def desc_compras(compras):
  desconto = 0
  if compras <= 100:
    desconto = 0.05
  elif 100 < compras < 500:
    desconto = 0.1
  else:
    desconto = 0.15
  return desconto

for i in range(3):
  valor_1 = float(input("Digite o valor total da compra: R$ "))
  print(f"Desconto aplicado: R$ {desc_compras(valor_1)* valor_1}")
  print(f"Valor final após desconto: R$ {desc_compras(valor_1) * valor_1 + valor_1}\n")

Digite o valor total da compra: R$ 500
Desconto aplicado: R$ 75.0
Valor final após desconto: R$ 575.0

Digite o valor total da compra: R$ 10
Desconto aplicado: R$ 0.5
Valor final após desconto: R$ 10.5

Digite o valor total da compra: R$ 150
Desconto aplicado: R$ 15.0
Valor final após desconto: R$ 165.0

Exercício 4

Você recebeu uma lista de dados de pilotos da Fórmula 1 com o número de corridas vencidas e a equipe de cada um em determinada temporada. Seu desafio é criar funções que analisem essas informações.

In [ ]:
pilotos = [
    {"nome": "Lewis Hamilton", "vitorias": 2, "equipe": "Mercedes"},
    {"nome": "Charles Leclerc", "vitorias": 3, "equipe": "Ferrari"},
    {"nome": "Lando Norris", "vitorias": 4, "equipe": "McLaren"},
    {"nome": "Sergio Perez", "vitorias": 4, "equipe": "Red Bull"},
    {"nome": "Carlos Sainz", "vitorias": 1, "equipe": "Ferrari"},
    {"nome": "George Russell", "vitorias": 1, "equipe": "Mercedes"},
    {"nome": "Esteban Ocon", "vitorias": 50, "equipe": "Alpine"},
    {"nome": "Fernando Alonso", "vitorias": 0, "equipe": "Aston Martin"},
    {"nome": "Pierre Gasly", "vitorias": 0, "equipe": "Alpine"},
    {"nome": "Max Verstappen", "vitorias": 15, "equipe": "Red Bull"},
]

Função 1: pilotos_com_vitorias(pilotos, min_vitorias)

Retorna uma lista com o nome dos pilotos que possuem mais ou igual a min_vitorias

In [ ]:
def pilotos_com_vitorias(pilotos, min_vitorias):
  lista_min = []
  for chave in pilotos:
    if chave['vitorias'] >= min_vitorias:
      lista_min.append(chave['nome'])

  return lista_min

print(pilotos_com_vitorias(pilotos, 3))

['Max Verstappen', 'Charles Leclerc', 'Sergio Perez']

Função 2: piloto_mais_vitorias(pilotos)

Retorna o nome do piloto com mais vitórias.

In [ ]:
def piloto_mais_vitorias(pilotos):
  lista_max = []
  indice = []

  for chave in pilotos:
      lista_max.append(chave['vitorias']) # adiciona o número de vitórias de cada piloto em uma lista para ser usado o max() depois
      indice.append(chave['nome']) # salva o nome de todos o pilotos com o mesmo índice do número de vitórias
      cursor = lista_max.index(max(lista_max)) # encontra o maior nº de vitórias e retorna o indice

  return indice[cursor] # Usa o mesmo indice encontrado no cursor e aplica na lista de nomes

piloto_mais_vitorias(pilotos)

'Esteban Ocon'